In [31]:
import os
import pandas as pd
import numpy as np
from geopy import distance
from math import sqrt
from datetime import datetime
from joblib import dump, load

In [2]:
df = pd.read_csv("extract.csv")

In [3]:
df.head(5)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year
0,2014-02-19 07:22:00.00000074,12.50,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1,2014
1,2014-12-06 20:36:22.0000008,4.00,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1,2014
2,2014-02-19 16:03:00.000000160,5.50,2014-02-19 16:03:00 UTC,-73.976075,40.752422,-73.981082,40.759285,1,2014
3,2015-06-21 21:46:34.0000001,22.54,2015-06-21 21:46:34 UTC,-74.010483,40.717667,-73.985771,40.660366,1,2015
4,2015-01-11 03:15:38.0000001,58.00,2015-01-11 03:15:38 UTC,-73.983330,40.738720,-73.933197,40.847225,1,2015

In [4]:
df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"])

In [5]:
df["weekday"] = df["pickup_datetime"].dt.weekday_name
df["month"] = df["pickup_datetime"].dt.month_name()
df["week"] = df["pickup_datetime"].dt.week

In [6]:
df["hour"] = df["pickup_datetime"].dt.hour

In [13]:
def rush_hour(hour):
    if (hour > 16) & (hour < 20):
        return 1
    else :
        return 0

In [8]:
df["Rush_hour"] = df["hour"].apply(rush_hour, axis = 1)

In [15]:
df = df.drop(axis=0, index=190432)
df = df.drop(axis=0, index=284519)

KeyError: '[190432] not found in axis'

In [16]:
df["Distance"] = df.apply(lambda row: distance.distance((row["pickup_longitude"],row["pickup_latitude"]),
                                       (row["dropoff_longitude"],row["dropoff_latitude"])).km, axis = 1)

In [17]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,weekday,month,week,hour,Rush_hour,Distance
0,2014-02-19 07:22:00.00000074,12.50,2014-02-19 07:22:00+00:00,-73.986430,40.760465,-73.988990,40.737075,1,2014,Wednesday,February,8,7,0,0.775049
1,2014-12-06 20:36:22.0000008,4.00,2014-12-06 20:36:22+00:00,-73.979815,40.751902,-73.979446,40.755481,1,2014,Saturday,December,49,20,0,0.117733
2,2014-02-19 16:03:00.000000160,5.50,2014-02-19 16:03:00+00:00,-73.976075,40.752422,-73.981082,40.759285,1,2014,Wednesday,February,8,16,0,0.597511
3,2015-06-21 21:46:34.0000001,22.54,2015-06-21 21:46:34+00:00,-74.010483,40.717667,-73.985771,40.660366,1,2015,Sunday,June,25,21,0,3.273818
4,2015-01-11 03:15:38.0000001,58.00,2015-01-11 03:15:38+00:00,-73.983330,40.738720,-73.933197,40.847225,1,2015,Sunday,January,2,3,0,6.520476

In [18]:
df = df[df["Distance"]<1000]

def remove_outliers(df):
    return df.loc[(df["Distance"] >1 ) & (df["Distance"] < 100)]

In [19]:
remove_outliers(df)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,weekday,month,week,hour,Rush_hour,Distance
3,2015-06-21 21:46:34.0000001,22.54,2015-06-21 21:46:34+00:00,-74.010483,40.717667,-73.985771,40.660366,1,2015,Sunday,June,25,21,0,3.273818
4,2015-01-11 03:15:38.0000001,58.00,2015-01-11 03:15:38+00:00,-73.983330,40.738720,-73.933197,40.847225,1,2015,Sunday,January,2,3,0,6.520476
7,2014-05-01 09:12:00.000000198,7.00,2014-05-01 09:12:00+00:00,-73.966203,40.767500,-73.980915,40.774240,6,2014,Thursday,May,18,9,0,1.655071
9,2014-04-29 18:28:00.0000005,16.50,2014-04-29 18:28:00+00:00,-73.970323,40.750840,-73.998392,40.724862,6,2014,Tuesday,April,18,18,1,3.233346
10,2015-04-12 10:19:05.0000001,11.50,2015-04-12 10:19:05+00:00,-73.979279,40.723438,-74.004608,40.746948,6,2015,Sunday,April,15,10,0,2.918219
11,2015-05-12 23:51:42.0000007,5.00,2015-05-12 23:51:42+00:00,-73.954796,40.779335,-73.944931,40.780087,1,2015,Tuesday,May,20,23,0,1.101233
12,2014-12-08 16:00:01.0000001,16.50,2014-12-08 16:00:01+00:00,-73.982800,40.745287,-74.014250,40.702935,1,2014,Monday,December,50,16,0,3.744359
14,2014-03-21 11:00:29.0000003,8.00,2014-03-21 11:00:29+00:00,-73.950688,40.828531,-73.964101,40.808140,1,2014,Friday,March,12,11,0,1.623867
15,2014-10-02 13:39:56.0000004,12.00,2014-10-02 13:39:56+00:00,-73.995387,40.749482,-73.975789,40.748741,1,2014,Thursday,October,40,13,0,2.187415
16,2014-05-19 06:26:00.00000034,7.50,2014-05-19 06:26:00+00:00,-73.990815,40.730495,-73.978337,40.751085,1,2014,Monday,May,21,6,0,1.530309
18,2015-04-03 16:21:30.0000005,11.00,2015-04-03 16:21:30+00:00,-73.981056,40.774265,-73.959045,40.780674,2,2015,Friday,April,14,16,0,2.464516
19,2014-12-07 12:26:00.0000009,9.00,2014-12-07 12:26:00+00:00,-73.984977,40.752122,-74.000925,40.757982,1,2014,Sunday,December,49,12,0,1.789050
20,2015-05-17 08:02:59.0000002,14.00,2015-05-17 08:02:59+00:00,-73.979210,40.723682,-74.017464,40.711395,1,2015,Sunday,May,20,8,0,4.286158
21,2014-11-12 12:40:29.0000005,10.00,2014-11-12 12:40:29+00:00,-74.002581,40.739572,-73.994580,40.760682,1,2014,Wednesday,November,46,12,0,1.104379
22,2014-05-22 18:30:00.000000217,9.00,2014-05-22 18:30:00+00:00,-73.982272,40.748357,-73.969325,40.763877,1,2014,Thursday,May,21,18,1,1.522122
23,2014-10-17 08:28:00.00000087,10.00,2014-10-17 08:28:00+00:00,-73.991797,40.735262,-73.975915,40.748697,6,2014,Friday,October,42,8,0,1.820247
24,2014-07-20 12:48:35.0000001,17.00,2014-07-20 12:48:35+00:00,-73.973390,40.743883,-73.954021,40.766063,1,2014,Sunday,July,29,12,0,2.267422
25,2014-01-06 21:21:00.0000005,8.00,2014-01-06 21:21:00+00:00,-73.988492,40.717977,-73.978180,40.737407,1,2014,Monday,January,2,21,0,1.297287
26,2014-09-12 23:10:00.000000213,16.50,2014-09-12 23:10:00+00:00,-73.983837,40.676052,-74.002522,40.723145,1,2014,Friday,September,37,23,0,2.540006
28,2015-05-31 07:33:18.0000002,16.50,2015-05-31 07:33:18+00:00,-73.996986,40.755428,-73.953194,40.802101,3,2015,Sunday,May,22,7,0,5.094972
30,2014-05-13 22:19:00.000000144,52.50,2014-05-13 22:19:00+00:00,-73.982265,40.762062,-73.768550,40.675135,1,2014,Tuesday,May,20,22,0,24.003931
31,2014-10-25 21:24:00.000000167,16.00,2014-10-25 21:24:00+00:00,-74.005677,40.745547,-73.962663,40.794295,1,2014,Saturday,October,43,21,0,5.030151
32,2015-04-19 22:21:12.0000005,8.00,2015-04-19 22:21:12+00:00,-73.985489,40.747280,-74.007675,40.740768,1,2015,Sunday,April,16,22,0,2.484272
34,2015-01-30 00:16:06.0000005,21.50,2015-01-30 00:16:06+00:00,-74.001099,40.721497,-73.959435,40.653065,1,2015,Friday,January,5,0,0,5.105881
36,2014-08-13 08:26:00.000000136,8.50,2014-08-13 08:26:00+00:00,-73.954598,40.786760,-73.966013,40.768112,1,2014,Wednesday,August,33,8,0,1.397898
37,2015-02-27 07:50:56.0000003,10.50,2015-02-27 07:50:56+00:00,-73.944023,40.775959,-73.955048,40.785080,1,2015,Friday,February,9,7,0,1.262229
38,2014-07-27 08:22:00.00000022,16.50,2014-07-27 08:22:00+00:00,-73.954850,40.765420,-74.007510,40.738770,2,2014,Sunday,July,30,8,0,5.934374
39,2014-07-12 15:22:00.00000058,24.50,2014-07-12 15:22:00+00:00,-74.012780,40.707952,-73.997932,40.760632,6,2014,Saturday,July,28,15,0,2.318092
41,2014-02-05 00:28:00.00000078,16.00,2014-02-05 00:28:00+00:00,-73.996652,40.744495,-73.980253,40.737635,1,2014,Wednesday,February,6,0,0,1.842418
42,2015-05-25 15:11:09.0000006,11.00,2015-05-25 15:11:09+00:00,-73.972214,40.765572,-73.979584,40.736469,1,2015,Monday,May,22,15,0,1.217088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436861,2014-11-18 14:26:27.0000003,41.33,2014-11-18 14:26:27+00:00,-73.989315,40.757057,-73.872528,40.774342,1,2014,Tuesday,November,47,14,0,13.045252
436862,2015-01-24 04:25:28.0000001,14.50,2015-01-24 04:25:28+00:00,-73.995140,40.725170,-73.944794,40.699669,6,2015,Saturday,January,4,4,0,5.673809
436864,2014-04-17 20:10:00.0000002,9.00,2014-04-17 20:10:00+00:00,-74.007750,40.742732,-73.986665,40.762540,4,2014,Thursday,April,16,20,0,2.430979
436865,2014-12-05 17:13:21.0000004,10.00,2014-12-05 17:13:21+00:00,-73.989333,40.752891,-74.008492,40.746542,1,2014,Friday,December,49,17,1,2.147214
436866,2014-11-10 06:03:10.0000002,8.00,2014-11-10 06:03:10+00:00,-73.990804,40.755960,-73.966536,40.760754,1,2014,Monday,November,46,6,0,2.712530
436868,2014-06-09 20:41:00.000000148,17.50,2014-06-09 20:41:00+00:00,-73.885295,40.773052,-73.839877,40.725152,2,2014,Monday,June,24,20,0,5.282465
436869,2014-09-10 06:59:00.00000085,8.50,2014-09-10 06:59:00+00:00,-73.954905,40.777607,-73.971268,40.760767,6,2014,Wednesday,September,37,6,0,1.898688
436871,2014-04-07 06:48:09.0000004,8.50,2014-04-07 06:48:09+00:00,-73.988812,40.759443,-74.008202,40.737528,1,2014,Monday,April,15,6,0,2.266787
436872,2014-06-09 15:43:48.0000001,12.50,2014-06-09 15:43:48+00:00,-73.958128,40.773656,-73.980407,40.770061,1,2014,Monday,June,24,15,0,2.488983
436873,2014-11-03 13:37:00.000000112,8.50,2014-11-03 13:37:00+00:00,-73.968802,40.762097,-73.981937,40.743305,1,2014,Monday,November,45,13,0,1.576269
436876,2014-12-15 06:57:32.0000006,38.00,2014-12-15 06:57:32+00:00,-73.969422,40.675232,-73.776500,40.645237,1,2014,Monday,December,51,6,0,21.551519
436877,2014-03-07 00:02:00.00000074,5.00,2014-03-07 00:02:00+00:00,-73.984210,40.760280,-73.972313,40.753992,2,2014,Friday,March,10,0,0,1.341868
436878,2014-11-04 10:21:00.00000055,11.00,2014-11-04 10:21:00+00:00,-73.991295,40.696492,-74.008850,40.719212,1,2014,Tuesday,November,45,10,0,2.080339
436879,2014-09-23 18:35:00.000000107,18.50,2014-09-23 18:35:00+00:00,-74.005007,40.719097,-73.974362,40.676145,5,2014,Tuesday,September,39,18,1,3.667142
436882,2015-05-16 23:26:19.0000004,9.00,2015-05-16 23:26:19+00:00,-73.970085,40.764427,-73.976257,40.788170,1,2015,Saturday,May,20,23,0,1.005145
436884,2014-03-16 14:51:43.0000003,5.50,2014-03-16 14:51:43+00:00,-73.993714,40.720944,-74.002415,40.729449,1,2014,Sunday,March,11,14,0,1.005776
436885,2014-09-14 23:12:00.00000028,17.50,2014-09-14 23:12:00+00:00,-73.987577,40.728665,-73.993840,40.690188,2,2014,Sunday,September,37,23,0,1.375766
436888,2014-09-09 19:32:00.000000168,5.00,2014-09-09 19:32:00+00:00,-73.947453,40.776067,-73.959025,40.780995,1,2014,Tuesday,September,37,19,1,1.300452
436891,2014-01-26 19:12:15.0000001,20.00,2014-01-26 19:12:15+00:00,-73.992431,40.733836,-73.951782,40.785400,2,2014,Sunday,January,4,19,1,4.807239
436892,2014-09-28 00:38:00.000000191,17.50,2014-09-28 00:38:00+00:00,-73.985628,40.744212,-73.950602,40.811645,5,2014,Sunday,September,39,0,0,4.427892
436896,2014-10-04 02:17:00.00000078,57.00,2014-10-04 02:17:00+00:00,-73.989080,40.721530,-73.838475,40.926578,1,2014,Saturday,October,40,2,0,17.966054
436897,2014-07-20 11:31:00.000000143,19.00,2014-07-20 11:31:00+00:00,-73.995710,40.759350,-73.952700,40.810740,1,2014,Sunday,July,29,11,0,5.054923
436899,2014-07-11 08:30:00.00000042,10.00,2014-07-11 08:30:00+00:00,-73.953362,40.779587,-73.969150,40.763742,1,2014,Friday,July,28,8,0,1.828617
436900,2015-03-19 17:07:04.0000006,10.00,2015-03-19 17:07:04+00:00,-73.958061,40.766205,-73.982872,40.777042,3,2015,Thursday,March,12,17,1,2.789172
436903,2014-06-08 03:16:13.0000001,30.50,2014-06-08 03:16:13+00:00,-73.989097,40.718948,-73.945145,40.830927,1,2014,Sunday,June,23,3,0,5.999131
436904,2014-08-11 20:36:19.0000002,28.83,2014-08-11 20:36:19+00:00,-74.006896,40.730285,-73.972577,40.643451,1,2014,Monday,August,33,20,0,4.671526
436905,2015-05-24 17:57:36.0000005,5.50,2015-05-24 17:57:36+00:00,-73.990921,40.760761,-74.001205,40.746754,1,2015,Sunday,May,21,17,1,1.226163
436907,2015-05-24 16:01:17.0000001,13.50,2015-05-24 16:01:17+00:00,-73.995590,40.759762,-73.959152,40.783241,3,2015,Sunday,May,21,16,0,4.130657
436909,2014-05-21 18:15:02.0000004,8.50,2014-05-21 18:15:02+00:00,-73.945474,40.778606,-73.964772,40.770070,2,2014,Wednesday,May,21,18,1,2.169859
436911,2015-05-29 23:16:13.0000003,38.00,2015-05-29 23:16:13+00:00,-73.980171,40.745899,-73.833252,40.658413,1,2015,Friday,May,22,23,0,16.619365

In [24]:
df = pd.get_dummies(df, columns = ['weekday'], drop_first=True)

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X = df[["Distance", "Rush_hour", "weekday_Monday", "weekday_Saturday", "weekday_Sunday", "weekday_Thursday", "weekday_Wednesday", "weekday_Tuesday"]].values
y = df["fare_amount"].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
reg = LinearRegression().fit(X_train, y_train)

In [32]:
dump(reg, 'model.joblib')

['model.joblib']

In [27]:
from sklearn.metrics import mean_squared_error
y_true = y_test
y_pred = reg.predict(X_test)

In [28]:
sqrt(mean_squared_error(y_true, y_pred))

6.82562125910368

In [29]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
sns.regplot(x="Distance", y="fare_amount", data=df);

In [ ]:
districts = {
    "Bronx" : (40.8517687,-73.9109737),
    "Queens" : (40.8517727,-73.9131624),
    "Staten Island": (40.5647149,-74.2168582),
    "Brooklyn" : (40.6453531,-74.0150372),
    "Manhattan" : (40.7591704,-74.0392707)}

In [ ]:
for key, value in districts.items():
    print(key, value)

In [ ]:
distance.distance()

## Night and Day

In [ ]:
df["hour"] = df[df["pickup_datetime"]<1000] Series.dt.hour

In [ ]:
df["pickup_datetime"].sort_values

In [30]:
ls

environment.yml        taxi-fare.ipynb
extract.csv            taxi_fare_extract.csv

In [34]:
df[["Distance", "Rush_hour", "weekday_Monday", "weekday_Saturday", "weekday_Sunday", "weekday_Thursday", "weekday_Wednesday", "weekday_Tuesday"]].iloc[2]

Distance             0.597511
Rush_hour            0.000000
weekday_Monday       0.000000
weekday_Saturday     0.000000
weekday_Sunday       0.000000
weekday_Thursday     0.000000
weekday_Wednesday    1.000000
weekday_Tuesday      0.000000
Name: 2, dtype: float64